@model List<Taigate.Data.Data.Entities.Components.InsanKaynaklariParagsArea>

@foreach (var item in Model)
{
    <div class="change-header mt50">
        <div class="container">
            <div class="section-item text-left">
                <div class="row">
                    <div class="col-md-3 blue-top-line main-title">
                        <h2 class="mb-1 text-blue fs36">@item.Title</h2>
                        <div class="section-item-title-xs-narrow text-dark-blue font-montserrat-bold">@item.Description</div>
                    </div>
                    <div class="col-md-8 blue-top-line">
                        <div class="fs20 text-blue">@item.Parag1</div>
                        <div class="fs18 text-grey">@item.Parag2</div>
                    </div>
                </div> 
            </div>
        </div>
    </div> 
}



@* <div class="change-header mt50"> *@
@*               <div class="container"> *@
@*                 <div class="section-item text-left"> *@
@*                   <div class="row"> *@
@*                     <div class="col-md-3 blue-top-line main-title"> *@
@*                       <h2 class="mb-1 text-blue fs36">IK</h2> *@
@*                       <div class="section-item-title-xs-narrow text-dark-blue font-montserrat-bold">POLİTİKASI</div> *@
@*                     </div> *@
@*                     <div class="col-md-8 blue-top-line"> *@
@*                       <div class="fs20 text-blue">Lorem ipsum is placeholder, lorem ipsum dolor sit amet consectetur adipiscing </div> *@
@*                       <div class="fs18 text-grey">Ali Doğan tarafından 1970’li yıllarda temelleri atılan Doğanlar Yatırım Holding, başta mobilya  *@
@*                         olmak üzere, perakende, enerji ve inşaat sektörlerinde Türkiye’nin önde gelen grup  *@
@*                         şirketlerinden birisidir. Ticari hayatına mobilya sektörü ile 1970’li yıllarda Ali Doğan’ın  *@
@*                         Çanakkale’nin Biga ilçesinde kurduğu Doğan Mobilya ile başlayan Doğanlar Yatırım Holding,  *@
@*                         seneler içinde istikrarlı bir şekilde büyüyerek, hem toplumsal hem de ekonomik kalkınmaya  *@
@*                         katkıda bulunmak misyonuyla ilerleyen ve farklı sektörlerde hizmet veren bir şirketler grubu  *@
@*                         haline geldi.</div> *@
@*                     </div> *@
@*                   </div>  *@
@*                 </div> *@
@*               </div> *@
@*             </div>  *@
@* <div class="change-header  mt50"> *@
@*               <div class="container"> *@
@*                 <div class="section-item text-left"> *@
@*                   <div class="row"> *@
@*                     <div class="col-md-3 blue-top-line main-title"> *@
@*                       <h2 class="mb-1 text-blue fs36">ÇALIŞMA</h2> *@
@*                       <div class="section-item-title-xs-narrow text-dark-blue font-montserrat-bold">Hayatı</div> *@
@*                     </div> *@
@*                     <div class="col-md-8 blue-top-line"> *@
@*                       <div class="fs20 text-blue">Lorem ipsum is placeholder, lorem ipsum dolor sit amet  consectetur adipiscing </div> *@
@*                       <div class="fs18 text-grey">Ali Doğan tarafından 1970’li yıllarda temelleri atılan Doğanlar Yatırım Holding, başta mobilya</div> *@
@*                       <div class="fs18 text-grey">olmak üzere, perakende, enerji ve inşaat sektörlerinde Türkiye’nin önde gelen grup şirketlerinden birisidir. </div> *@
@*                       <div class="fs18 text-grey">Ticari hayatına mobilya sektörü ile 1970’li yıllarda Ali Doğan’ın  *@
@*                         Çanakkale’nin Biga ilçesinde kurduğu Doğan Mobilya ile başlayan Doğanlar Yatırım Holding,  *@
@*                         seneler içinde istikrarlı bir şekilde büyüyerek, hem toplumsal hem de ekonomik kalkınmaya  *@
@*                         katkıda bulunmak misyonuyla ilerleyen ve farklı sektörlerde hizmet veren bir şirketler grubu  *@
@*                         haline geldi.</div> *@
@*                     </div> *@
@*                   </div>  *@
@*                 </div> *@
@*               </div> *@
@*             </div>  *@