@model Taigate.Data.Data.Entities.Components.InsanKaynaklariBotParagArea

<div class="row">
    <div class="col-md-3 blue-top-line main-title">
        <h2 class="mb-1 text-blue fs36">@Model.Title</h2>
        <div class="section-item-title-xs-narrow text-dark-blue font-montserrat-bold">@Model.Description</div>
    </div>
    <div class="col-md-8 blue-top-line">
        <div class="fs20 text-blue">@Model.Parag1</div>
        <div class="fs18 text-grey">@Model.Parag2 </div>
    </div>
</div>