@model Taigate.Data.Data.Entities.Components.AcikPozisyonlarTopArea

<div class="section-mini section-item">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-10">
                <h1 class="h2-flash  wow fadeInUp text-blue" data-wow-delay=".3s"><strong>@Model.Title</strong></h1>
                <h3 class="fs30 wow fadeInUp contact-title  text-blue" data-wow-delay=".6s">@Model.Description</h3>
            </div>
        </div>
    </div>
</div>