<!DOCTYPE html>
<html class="no-js vlt-is--homepage-02 vlt-is--header-default vlt-is--footer-style-2 vlt-is--footer-fixed" lang="tr">
<head>
        Component(Head)
</head>
<body>
Component(Header)
<main class="vlt-main">
    <div class="vlt-page-content">
        Component(InvestorRelationsHero)
        <div id="content"></div>
        <section class="section-mini">
            <div class="container">
                <div class="investment-wrapper">
                    <div class="investment-menu">
                        <div class="invest-title">
                            <h2>Localized(Yatirimci_Iliskileri-H2_Title)</h2>
                            <i id="invest-close-btn" class="icon ion-close-round"></i>
                        </div>
                        Component(InvestorRelationsSideBarMenu)
                    </div>
                    <div class="investment-box-wrapper">
                        Component(InvestorRelationsInvestorEvaluationReportsOnTheDeterminationOfThePublicOfferingPriceDates)
                        Component(InvestorRelationsInvestorEvaluationReportsOnTheDeterminationOfThePublicOfferingPrice)
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
Component(Footer)
<script src="/themes/doganlarmobilya/assets/vendors/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-plugins.min.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-helpers.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/site.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-controllers.js"></script>
</body>
</html>