@model Taigate.Data.Data.Entities.Components.HomeVideoPlace

<div class="section pp-scrollable slide slide1 slide-dark text-center">
    <div class="slide-container">
        <div class="video-container a-video" data-vimeo-width="640" data-vimeo-height="360"><iframe src="@Model.VideoLink" allowfullscreen></iframe></div>
        <div class="slide-bg"><div class="inside" style="background-image: url(@Model.ImageBgUrl);"></div></div>
        <div class="slide-video-container slide-container">
            <div class="container">
                <button class="btn-play a-video-play">
                    <svg xmlns="http://www.w3.org/2000/svg" width="69.213" height="79.307" viewBox="0 0 69.213 79.307">
                        <path id="Polygon_1" data-name="Polygon 1" d="M34.447,9.087a6,6,0,0,1,10.412,0L74.16,60.23a6,6,0,0,1-5.206,8.983h-58.6A6,6,0,0,1,5.146,60.23Z" transform="translate(69.213) rotate(90)" fill="#fff"></path>
                    </svg>
                </button>
                <div class="row slide-content">
                    <div class="col-sm-12">
                        <h1 class="slide-title"><span class="text-white">@Model.Text</span></h1>
                        <div class="slide-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@* <div class="section pp-scrollable slide slide1 slide-dark text-center"> *@
@*     <div class="slide-container"> *@
@*         <div class="video-container a-video" data-vimeo-width="640" data-vimeo-height="360"><iframe src="https://player.vimeo.com/video/107714608?title=0&byline=0&portrait=0&autoplay=1&autopause=0&muted=1&background=1" allowfullscreen></iframe></div> *@
@*         <div class="slide-bg"><div class="inside"></div></div> *@
@*         <div class="slide-video-container slide-container"> *@
@*             <div class="container"> *@
@*                 <button class="btn-play a-video-play"> *@
@*                     <svg xmlns="http://www.w3.org/2000/svg" width="69.213" height="79.307" viewBox="0 0 69.213 79.307"> *@
@*                         <path id="Polygon_1" data-name="Polygon 1" d="M34.447,9.087a6,6,0,0,1,10.412,0L74.16,60.23a6,6,0,0,1-5.206,8.983h-58.6A6,6,0,0,1,5.146,60.23Z" transform="translate(69.213) rotate(90)" fill="#fff"></path> *@
@*                     </svg> *@
@*                 </button> *@
@*                 <div class="row slide-content"> *@
@*                     <div class="col-sm-12"> *@
@*                         <h1 class="slide-title"><span class="text-white">BİRLİKTE DAHA GÜÇLÜ</span></h1> *@
@*                         <div class="slide-body"> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@