<!doctype html>
<html lang="tr">
	<head>
		<title>AspNet Core ve Google reCaptcha</title>
		<meta charset="utf-8" />
		<script src="https://www.google.com/recaptcha/api.js"></script>
	</head>
	<body>
		<form method="POST" action="/captcha">
			<div>
				Kullanıcı Adı : <input type="text" name="username" />
			</div>
			<div>
				Şifre : <input type="password" name="password" />
			</div>
			<div class="g-recaptcha" data-sitekey="6LeRaCQbAAAAAJl9_aSe3jn7LdkVl_HgZAC2u7MD"></div>
			<div>
				<input type="submit" value="Giriş" />
			</div>
		</form>
	</body>
</html>