<div id="content"></div>
<div class="vlt-gap-120"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 text-center">
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                    <div class="vlt-section-title vlt-section-title--style-1">
                        <span class="vlt-section-title__subtitle">Localized(Marka_Listesi_Main_Title)</span>
                        <h2 class="vlt-section-title__title">Localized(Marka_Listesi_Main_Description)</h2>
                    </div>
                </div>
                <div class="vlt-gap-30"></div>
            </div>
        </div>
    </div>
</section>
<div class="vlt-gap-90"></div>
<section>
    Component(HomePageDoganlarFurnitureBrands)
    <div class="vlt-gap-90"></div>
    Component(DoganlarFurnitureBrandsListLastAwardsList)
</section>
<div class="vlt-gap-90"></div>