<div class="investment-box-wrapper">
    <h2>FİNANSAL VERİLER VE SUNUMLAR</h2>
    <div class="box-wrapper">
        <a href="#" class="investment-box">
            <h3>Hisse Bilgisi</h3>
            <i class="icon icon-arrow-right"></i>
        </a>
        <a href="#" class="investment-box">
            <h3>Kurumsal Yönetim</h3>
            <i class="icon icon-arrow-right"></i>
        </a>
        <a href="#" class="investment-box">
            <h3>Finansal Veriler ve Sunumlar</h3>
            <i class="icon icon-arrow-right"></i>
        </a>
        <a href="#" class="investment-box">
            <h3>Özel Durum Açıklamaları</h3>
            <i class="icon icon-arrow-right"></i>
        </a>
        <a href="#" class="investment-box">
            <h3>Yatırımcı Takvimi</h3>
            <i class="icon icon-arrow-right"></i>
        </a>
        <a href="#" class="investment-box">
            <h3>Halka Arz</h3>
            <i class="icon icon-arrow-right"></i>
        </a>
        <a href="/" class="investment-box">
            <h3>Sermaye Artırımı</h3>
            <i class="icon icon-arrow-right"></i>
        </a>
        <a href="#" class="investment-box">
            <h3>Sıkça Sorulan Sorular</h3>
            <i class="icon icon-arrow-right"></i>
        </a>
        <a href="#" class="investment-box">
            <h3>Yatırımcı İlişkileri İletişim</h3>
            <i class="icon icon-arrow-right"></i>
        </a>
    </div>
</div>



