@model Taigate.Data.Data.Entities.UrlRecord

@if (!string.IsNullOrEmpty(Model.SeoTitle))
    {
      <title>@Model.SeoTitle</title>
    }
    else
    {
      <title>Doğanlar Mobilya</title>
    }


<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/themes/doganlarmobilya/assets/img/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/themes/doganlarmobilya/assets/img/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/themes/doganlarmobilya/assets/img/favicon/favicon-16x16.png" />
<link rel="manifest" href="/themes/doganlarmobilya/assets/img/favicon/site.webmanifest" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<!--Framework-->
<link rel="stylesheet" href="/themes/doganlarmobilya/assets/css/framework/bootstrap.min.css" />
<!--Fonts-->
<link rel="stylesheet" href="/themes/doganlarmobilya/assets/fonts/Swansea/style.css" />
<link rel="stylesheet" href="/themes/doganlarmobilya/assets/fonts/Skape/style.css" />
<link rel="stylesheet" href="/themes/doganlarmobilya/assets/fonts/Socicons/socicon.css" />
<!--Plugins-->
<link rel="stylesheet" href="/themes/doganlarmobilya/assets/css/vlt-plugins.min.css" />
<!--Style-->
<link rel="stylesheet" href="/themes/doganlarmobilya/assets/css/style.css" />