@model List<Taigate.Data.Data.Entities.Components.DoganlarMobilya.GeneralAssemblyMeetingsDates>

<div class="item">
    <h2>Localized(Genel_Kurul_Toplantilari-H2_Title)</h2>
    <div class="filter-wrapper">
        <select id="myselect" name="dates-list" onchange="ShowDates()" class="form-control">
            @{
                var counter = 0;
            }
            @foreach (var year in Model)
            {
                if (counter < 1)
                {
                    <option selected="selected" value="@year.Year">@year.Year</option>
                    counter++;
                }
                else
                {
                    <option value="@year.Year">@year.Year</option>
                }
            }
        </select>
    </div>
</div>