@model Taigate.Data.Data.Entities.Components.DoganlarMobilya.DoganlarFurnitureAbout

<ul class="menu-wrapper">
    <li class="invest-item">
        <a href="javascript:void(0)">Hisse Bilgisi</a>
        <i class="icon ion-arrow-down-b"></i>

        <ul class="sub-items">
            <li>
                <a href="#">Hisse Tanımı</a>
            </li>
            <li>
                <a href="#">Hisse Senedi Fiyat Bilgisi</a>
            </li>
        </ul>
    </li>
    <li class="invest-item">
        <a href="javascript:void(0)">Kurumsal Yönetim</a>
        <ul class="sub-items">
            <li>
                <a href="#">Yönetim Kurulu Komiteleri</a>
            </li>
            <li>
                <a href="#">Politikalar</a>
            </li>
            <li>
                <a href="#">Esas Sözleşme</a>
            </li>
            <li>
                <a href="#">Ticaret Sicil Bilgileri</a>
            </li>
            <li>
                <a href="#">Bağımsız Denetçi</a>
            </li>
            <li>
                <a href="#">Sıkça Sorulan Sorular</a>
            </li>
        </ul>
    </li>
    <li class="invest-item">
        <a href="javascript:void(0)">Finansal Veriler ve Sunumlar</a>
        <ul class="sub-items">
            <li>
                <a href="#">Finansal Raporlar </a>
            </li>
            <li>
                <a href="#">Faaliyet Raporları </a>
            </li>
            <li>
                <a href="#">Yatırımcı Sunumu </a>
            </li>
            <li>
                <a href="#">Webcast & Podcast </a>
            </li>
        </ul>
    </li>
    <li class="invest-item">
        <a href="javascript:void(0)">Yatırımcı Takvimi</a>
        <ul class="sub-items">
            <li>
                <a href="#">Test1 </a>
            </li>
            <li>
                <a href="#">Test2 </a>
            </li>
        </ul>
    </li>
    <li class="invest-item">
        <a data-link="outside-link" target="_blank" href="/anasayfa.html">
            Sermaye Artırımı
        </a
        >
    </li>
    <li class="invest-item">
        <a href="#">Faaliyet Raporları</a>
    </li>
</ul>