<div class="col-lg-8 has-animation">
    <div class="contact-box-layout3">
        <form class="contact-form-box">
            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="translate-bottom-50 opacity-animation transition-100 transition-delay-1200">
                        <input type="text" placeholder="İsim Soyisim" class="form-control" name="Name" id="Name" data-error="Name field is required" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="translate-bottom-50 opacity-animation transition-100 transition-delay-1400">
                        <input type="email" placeholder="E-posta" class="form-control" name="email" id="Email"  data-error="Email field is required" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-12 form-group">
                    <div class="translate-bottom-50 opacity-animation transition-100 transition-delay-1600">
                        <input type="text" placeholder="Konu" class="form-control" name="subject" id="Subject"  data-error="Subject field is required" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-12 form-group">
                    <div class="translate-bottom-50 opacity-animation transition-100 transition-delay-1800">
                        <textarea placeholder="Mesajınız" class="textarea form-control" name="message" id="form-message" rows="7" cols="20" data-error="Message field is required" required></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-12 form-group mb-0">
                    <div class="translate-bottom-50 opacity-animation transition-100 transition-delay-2000">
                        <button type="submit" id="submitButton" class="btn-fill btn-gradient">Gönder</button>
                    </div>
                </div>
            </div>
            <div class="form-response"></div>
        </form>
    </div>
</div>