@model Taigate.Data.Data.Entities.Components.GaziKoylu.PackagePricingSection

<section class="pricing-wrap-layout3 bg-color-accent5">
    <div class="container">
        <div class="section-heading heading-dark heading-layout1">
            <h2 class="heading-main-title">@Model.Title</h2>
            <p class="heading-paragraph">@Model.Description</p>
        </div>
        <div class="row gutters-2">
            Component(PackagePricingSectionList)
        </div>
    </div>
</section>