@model List<Taigate.Data.Data.Entities.Components.HomeSlider>


@foreach (var item in Model)
{
    <div class="section pp-scrollable slide homepage-slider slide7">
        <div class="slide-container">
            <div class="slide-bg">
                <div class="inside" style="background-image: url(@item.ImageBgUrl);"></div>
            </div>
            <div class="container medium-container">
                <div class="row slide-content">
                    <div class="col-sm-6 mt80">
                        <div class="stage-item-title">@item.Title</div>
                        <div class="stage-item-subtitle">@item.Description</div>
                        <a href="" class="homepage-cta">@item.RedirectText <i class="icon ion-ios-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@* <div class="section pp-scrollable slide homepage-slider slide8"> *@
@*     <div class="slide-container"> *@
@*         <div class="slide-bg"> *@
@*             <div class="inside"></div> *@
@*         </div> *@
@*         <div class="container medium-container"> *@
@*             <div class="row slide-content"> *@
@*                 <div class="col-sm-6 mt80"> *@
@*                     <div class="stage-item-title">İNŞAAT</div> *@
@*                     <div class="stage-item-subtitle">YAŞAM KALİTESİNİ ARTTIRAN <br> ÇÖZÜMLER...</div> *@
@*                     <a href="~/themes/doganlar//" class="homepage-cta">Detaylı İnceleyin <i class="icon ion-ios-arrow-right"></i></a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="section pp-scrollable slide homepage-slider slide9"> *@
@*     <div class="slide-container"> *@
@*         <div class="slide-bg"> *@
@*             <div class="inside"></div> *@
@*         </div> *@
@*         <div class="container medium-container"> *@
@*             <div class="row slide-content"> *@
@*                 <div class="col-sm-6 mt80"> *@
@*                     <div class="stage-item-title">PERAKENDE</div> *@
@*                     <div class="stage-item-subtitle">MAĞAZACILIKTA YENİ <br> YAKLAŞIMLAR...</div> *@
@*                     <a href="~/themes/doganlar//" class="homepage-cta">Detaylı İnceleyin <i class="icon ion-ios-arrow-right"></i></a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="section pp-scrollable homepage-slider slide slide10"> *@
@*     <div class="slide-container"> *@
@*         <div class="slide-bg"> *@
@*             <div class="inside"></div> *@
@*         </div> *@
@*         <div class="container medium-container"> *@
@*             <div class="row slide-content"> *@
@*                 <div class="col-sm-6 mt80"> *@
@*                     <div class="stage-item-title">ENERJİ</div> *@
@*                     <div class="stage-item-subtitle">ENERJİMİZ DOĞA <br> SEVGİSİNDEN ALIYORUZ</div> *@
@*                     <a href="~/themes/doganlar//" class="homepage-cta">Detaylı İnceleyin <i class="icon ion-ios-arrow-right"></i></a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="section pp-scrollable homepage-slider slide slide11"> *@
@*     <div class="slide-container"> *@
@*         <div class="slide-bg"> *@
@*             <div class="inside"></div> *@
@*         </div> *@
@*         <div class="container medium-container"> *@
@*             <div class="row slide-content"> *@
@*                 <div class="col-sm-6 mt80"> *@
@*                     <div class="stage-item-title">MOBİLYA</div> *@
@*                     <div class="stage-item-subtitle">YAŞAM ALANLARINA ŞIK VE <br> KEYİFLİ TASARIMLAR</div> *@
@*                     <a href="~/themes/doganlar//" class="homepage-cta">Detaylı İnceleyin <i class="icon ion-ios-arrow-right"></i></a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@