@model Taigate.Data.Data.Entities.Components.YatirimcilarImgArea

<div class="section-item">
    <div class="photo-list">
        <div class="photo-item wow fadeInUp" data-wow-delay=".3s" data-wow-offset="100">
            <img src="@Model.ImageBgUrl" alt="" />
        </div>
    </div>
</div>