<!DOCTYPE html>
<html class="no-js vlt-is--homepage-02 vlt-is--header-default vlt-is--footer-style-2 vlt-is--footer-fixed" lang="tr">
<head>
     Component(Head)
</head>
<body>
Component(Header)
<main class="vlt-main">
    <div class="vlt-page-content">
        Component(InvestorRelationsHero)
        <div id="content"></div>
        <section class="section-mini">
            <div class="container">
                <div class="investment-wrapper">
                    <div class="investment-menu">
                        <div class="invest-title">
                            <h2>Localized(Yatirimci_Iliskileri-H2_Title)</h2>
                            <i id="invest-close-btn" class="icon ion-close-round"></i>
                        </div>
                        Component(InvestorRelationsSideBarMenu)
                    </div>
                    <div class="investment-box-wrapper">
                        <h2>Localized(Kurumsal_Yonetim-H2_Title)</h2>
                        <div class="box-wrapper">
                            <a href="/yonetim-kurulu-komiteleri" class="investment-box">
                                <h3>Yönetim Kurulu Komiteleri</h3>
                                <div class="invest-cta">
                                    <span>İncele</span>
                                    <i class="icon icon-arrow-right"></i>
                                </div>
                            </a>
                            <a href="/kurumsal-yonetim-ilkelere-uyum-raporu" class="investment-box">
                                <h3>Kurumsal Yönetim İlkelere Uyum Raporu</h3>
                                <div class="invest-cta">
                                    <span>İncele</span>
                                    <i class="icon icon-arrow-right"></i>
                                </div>
                            </a>
                            <a href="/politikalar" class="investment-box">
                                <h3>Politikalar</h3>
                                <div class="invest-cta">
                                    <span>İncele</span>
                                    <i class="icon icon-arrow-right"></i>
                                </div>
                            </a>
                            <a href="/genel-kurul" class="investment-box">
                                <h3>Genel Kurul</h3>
                                <div class="invest-cta">
                                    <span>İncele</span>
                                    <i class="icon icon-arrow-right"></i>
                                </div>
                            </a>
                            <a href="/Files/Esassozlesme.pdf" class="investment-box">
                                <h3>Esas Sözleşme</h3>
                                <div class="invest-cta">
                                    <span>İncele</span>
                                    <i class="icon icon-arrow-right"></i>
                                </div>
                            </a>
                            <a href="/ticaret-sicil-bilgileri" class="investment-box">
                                <h3>Ticaret Sicil Bilgileri</h3>
                                <div class="invest-cta">
                                    <span>İncele</span>
                                    <i class="icon icon-arrow-right"></i>
                                </div>
                            </a>
                            <a href="/bagimsiz-denetci" class="investment-box">
                                <h3>Bağımsız Denetçi</h3>
                                <div class="invest-cta">
                                    <span>İncele</span>
                                    <i class="icon icon-arrow-right"></i>
                                </div>
                            </a>
                            <a href="/icerden-ogrenenler-listesi" class="investment-box">
                                <h3>İçerden Öğrenenler Listesi</h3>
                                <div class="invest-cta">
                                    <span>İncele</span>
                                    <i class="icon icon-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
Component(Footer)
<script src="/themes/doganlarmobilya/assets/vendors/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-plugins.min.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-helpers.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-controllers.js"></script>
</body>
</html>