@model Taigate.Data.Data.Entities.Components.BasinMedyaTopArea

<div class="row justify-content-md-center text-center">
    <div class="col-lg-9">
        <h3 class="fs30 mb90 wow fadeInUp contact-title  text-blue" data-wow-delay=".6s">@Model.TopTitle</h3>
    </div>
</div>