@model List<Taigate.Data.Data.Entities.Components.AcikPozisyonlarSlideArea>

<div class="section-mini">
              <div class="project-carousel-3d carousel-container wow fadeIn a-play" data-wow-offset="250" data-wow-duration="0.2s">
                <div class="a-project-carousel owl-carousel owl-theme nav-square nav-white-red nav-inside">
                  @foreach (var item in Model)
                  {
                    <div class="project-carousel-item">
                      <div class="project-carousel-photo" style="background-image:url(@item.ImageBgUrl)"></div>
                      <div class="project-carousel-detail">
                        <h2 class="project-carousel-title text-white">@item.Title</h2>
                        <div class="project-carousel-category text-white">@item.Description</div>
                      </div>
                    </div>
                  }
                  
                </div>
                <div class="mask wow slideInLeft" data-wow-offset="250" data-wow-duration="1.5s"></div>
              </div>
            </div>



@* <div class="section-mini"> *@
@*               <div class="project-carousel-3d carousel-container wow fadeIn a-play" data-wow-offset="250" data-wow-duration="0.2s"> *@
@*                 <div class="a-project-carousel owl-carousel owl-theme nav-square nav-white-red nav-inside"> *@
@*                   <div class="project-carousel-item"> *@
@*                     <div class="project-carousel-photo" style="background-image:url(/themes/doganlar/img/biotrendimg.jpg)"></div> *@
@*                     <div class="project-carousel-detail"> *@
@*                       <h2 class="project-carousel-title text-white">BİOTREND</h2> *@
@*                       <div class="project-carousel-category text-white">ENERJİ</div> *@
@*                     </div> *@
@*                   </div> *@
@*                   <div class="project-carousel-item text-white"> *@
@*                     <div class="project-carousel-photo" style="background-image:url(/themes/doganlar/img/kelebekhalf.jpg)"></div> *@
@*                     <div class="project-carousel-detail"> *@
@*                       <h2 class="project-carousel-title text-white">KELEBEK</h2> *@
@*                       <div class="project-carousel-category text-white">MOBİLYA</div> *@
@*                     </div> *@
@*                   </div> *@
@*                   <div class="project-carousel-item"> *@
@*                     <div class="project-carousel-photo" style="background-image:url(/themes/doganlar/img/pic31.jpg)"></div> *@
@*                     <div class="project-carousel-detail"> *@
@*                       <h2 class="project-carousel-title text-white">DOĞYAP</h2> *@
@*                       <div class="project-carousel-category text-white">İNŞAAT</div> *@
@*                     </div> *@
@*                   </div> *@
@*                   <div   class="project-carousel-item"> *@
@*                     <div class="project-carousel-photo" style="background-image:url(/themes/doganlar/img/pic32.jpg)"></div> *@
@*                     <div class="project-carousel-detail"> *@
@*                       <h2 class="project-carousel-title text-white">DOĞYAP</h2> *@
@*                       <div class="project-carousel-category text-white">İNŞAAT</div> *@
@*                     </div> *@
@*                   </div> *@
@*                   <div   class="project-carousel-item"> *@
@*                     <div class="project-carousel-photo" style="background-image:url(/themes/doganlar/img/pic33.jpg)"></div> *@
@*                     <div class="project-carousel-detail"> *@
@*                       <h2 class="project-carousel-title text-white">DOĞYAP</h2> *@
@*                       <div class="project-carousel-category text-white">İNŞAAT</div> *@
@*                     </div> *@
@*                   </div> *@
@*                 </div> *@
@*                 <div class="mask wow slideInLeft" data-wow-offset="250" data-wow-duration="1.5s"></div> *@
@*               </div> *@
@*             </div> *@