<!DOCTYPE html>
<html class="no-js vlt-is--homepage-02 vlt-is--header-default vlt-is--footer-style-2 vlt-is--footer-fixed" lang="tr">
<head>
       Component(Head)
</head>
<body>
Component(Header)
  <main class="vlt-main">
      <div class="vlt-page-content">
          Component(EmployeeProfileHero)
          Component(EmployeeProfileHeroContent)
      </div>
  </main>
Component(Footer)
<script src="/themes/doganlarmobilya/assets/vendors/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-plugins.min.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-helpers.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-controllers.js"></script>
</body>
</html>