<!DOCTYPE html>
<html class="no-js vlt-is--homepage-02 vlt-is--header-default vlt-is--footer-style-2 vlt-is--footer-fixed" lang="tr">
<head>
      Component(Head)
</head>
<body>
Component(Header)
<main class="vlt-main">
    <div class="vlt-page-content">
        <section class="not-found-page">
            <img
                class="vlt-particle"
                src="/Files/doganlarmobilya/root/404-red-shape.png"
                data-animation-name="fadeInRight"
                alt="Doganlar Mobilya Grubu 404"
                style="position: absolute; bottom: 0; right: 0; max-width: 214px"
                loading="lazy"/>
            <div class="vlt-gap-120"></div>
            <article class="vlt-page vlt-page--404">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <!--Particle image-->
                            <img
                                class="vlt-particle"
                                src="/Files/doganlarmobilya/root/404-plus-pattern.png"
                                data-animation-name="fadeInLeft"
                                alt="Doganlar Mobilya Grubu 404"
                                style="
                                position: absolute;
                                bottom: -120px;
                                right: -50px;
                                max-width: 413px;
                                --animate-delay: 0.5s;
                              "
                                loading="lazy"/>
                            <!--Animated block-->
                            <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                                <!--Simple image-->
                                <div class="vlt-simple-image">
                                    <div
                                        class="vlt-simple-image__mask"
                                        data-aos="image-mask-animation"
                                        data-aos-delay="0">
                                        <div class="inside"></div>
                                    </div>
                                    <img
                                        style="border-radius: 14px"
                                        src="/Files/doganlarmobilya/root/404.jpg"
                                        alt="Doganlar Mobilya Grubu 404"
                                        loading="lazy"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="vlt-gap-60--sm"></div>
                            <!--Animated block-->
                            <div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
                                <div class="text-center">
                                    <div class="has-black-color">
                                        <!--Stroke text-->
                                        <div class="vlt-stroke-text vlt-stroke-text--lg">404</div>
                                    </div>
                                    <div class="vlt-gap-10"></div>
                                    <h2>Localized(Page_404_Text1)</h2>
                                    <div class="vlt-gap-60"></div>
                                    <!--Button-->
                                    <a
                                        class="vlt-btn vlt-btn--secondary vlt-btn--md"
                                        href="/"
                                        target="_self">
                                        Localized(Page_404_Text2)
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="vlt-gap-120"></div>
        </section>
    </div>
</main>
Component(Footer)
<script src="/themes/doganlarmobilya/assets/vendors/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-plugins.min.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-helpers.js"></script>
<script src="/themes/doganlarmobilya/assets/scripts/vlt-controllers.js"></script>
</body>
</html>