<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact | DigeCo</title>
    Component(Head)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div id="preloader" class="tlp-preloader">
    <div class="animation-preloader">
        <div class="tlp-spinner"></div>
        <img src="https://www.radiustheme.com/demo/html/digeco/digeco/media/preloader.png" alt="Preloader">
    </div>
</div>
<div id="wrapper" class="wrapper">
    <a href="#main_content" data-type="section-switch" class="return-to-top">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <div id="main_content">
        Component(Header)
        Component(ContactUsHero)
        Component(ContactUsContent)
        Component(PartnerSection)
        Component(Footer)
    </div>
</div>
<script src="/themes/gazikoylu/assets/js/popper.min.js"></script>
<script src="/themes/gazikoylu/assets/js/jquery.min.js"></script>
<script src="/themes/gazikoylu/assets/js/bootstrap.min.js"></script>
<script src="/themes/gazikoylu/assets/js/jquery.appear.js"></script>
<script src="/themes/gazikoylu/assets/js/jquery.parallax-scroll.js"></script>
<script src="/themes/gazikoylu/assets/js/gmap3.min.js"></script>
<script src="/themes/gazikoylu/assets/js/owl.carousel.min.js"></script>
<script src="/themes/gazikoylu/assets/js/slick.min.js"></script>
<script src="/themes/gazikoylu/assets/js/jquery.counterup.min.js"></script>
<script src="/themes/gazikoylu/assets/js/jquery.waypoints.min.js"></script>
<script src="/themes/gazikoylu/assets/js/select2.min.js"></script>
<script src="/themes/gazikoylu/assets/js/isotope.pkgd.min.js"></script>
<script src="/themes/gazikoylu/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/themes/gazikoylu/assets/js/jquery.meanmenu.min.js"></script>
<script src="/themes/gazikoylu/assets/js/parallaxie.js"></script>
<script src="/themes/gazikoylu/assets/js/jquery.nivo.slider.js"></script>
<script src="/themes/gazikoylu/assets/js/home.js"></script>
<script src="/themes/gazikoylu/assets/js/wow.min.js"></script>
<script src="/themes/gazikoylu/assets/js/jquery.knob.js"></script>
<script src="/themes/gazikoylu/assets/js/jquery.countdown.min.js"></script>
<script src="/themes/gazikoylu/assets/js/jquery.pagepiling.min.js"></script>
<script src="/themes/gazikoylu/assets/js/tilt.jquery.min.js"></script>
<script src="/themes/gazikoylu/assets/js/theia-sticky-sidebar.min.js"></script>
<script src="/themes/gazikoylu/assets/js/resize-sensor.min.js"></script>
<script src="/themes/gazikoylu/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/themes/gazikoylu/assets/js/validator.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB13ZAvCezMx5TETYIiGlzVIq65Mc2FG5g"></script>
<script src="/themes/gazikoylu/assets/js/app.js"></script>
<script src="/themes/gazikoylu/assets/js/site.js"></script>
</body>
</html>