@model Taigate.Data.Data.Entities.Components.MenuArea

<header id="header" class="header header-fixed">
          <div class="container-fluid clearfix">
            <nav class="main-nav transparent-bg">
              <div class="menu-lang header-lang">
                <a href="/" class="menu-lang-item active">TR</a>
                <a href="/" class="menu-lang-item">EN</a>
                <a href="/" class="menu-lang-item">FR</a>
              </div>
              <div class="brand">
                <a class="main-logo white-logo" href="/">
                  <img src="/themes/doganlar/img/white-logo.png" alt="">
                </a>
                <a class="main-logo dark-logo" href="/">
                  <img src="/themes/doganlar/img/dark-logo.png" alt="">
                </a>
              </div>
  
              <button class="nav-toggle-btn a-nav-toggle">
                <span class="nav-toggle-title">menü</span>
                <span class="nav-toggle nav-toggle-sm">
                  <span class="stick stick-1"></span>
                  <span class="stick stick-2"></span>
                  <span class="stick stick-3"></span>
                </span>
              </button>
            </nav>
          </div>

          <div class="hide-menu a-nav-toggle"></div>

          <div class="menu">
            <div class="menu-lang">
              <a href="/" class="menu-lang-item active">TR</a>
              <a href="/" class="menu-lang-item">EN</a>
              <a href="/" class="menu-lang-item">FR</a>
            </div>

            <div class="menu-main" id="accordion">
              <ul>
                <li><a data-text="Şirket Profili" data-toggle="collapse" href="/tarihce" role="button" aria-expanded="false" aria-controls="menuHome">Şirket Profili</a>
                  <div class="collapse" id="menuHome" data-parent="#accordion">
                    <ul>
                      <li><a href="/hakkimizda" class="animsition-link" data-animsition-out-class="fade-out" data-text="Hakkımızda">Hakkımızda</a></li>
                      <li><a href="/ilkefelsefe" class="animsition-link" data-animsition-out-class="fade-out" data-text="Değerlerimiz">Değerlerimiz</a></li>
                      <li><a href="/markalarimiz" class="animsition-link" data-animsition-out-class="fade-out" data-text="Markalarımız">Markalarımız</a></li>
                      <li><a href="/kurul" class="animsition-link" data-animsition-out-class="fade-out" data-text="Yönetim Kurulu">Yönetim Kurulu</a></li>
                      <li><a href="/operasyonharitasi" class="animsition-link" data-animsition-out-class="fade-out" data-text="Operasyon Haritası">Operasyon Haritası</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="/yatirimcilar" class="animsition-link" data-animsition-out-class="fade-out" data-text="Yatırımcı İlişkileri">Yatırımcı İlişkileri</a></li>
                <li><a href="/sektorler" class="animsition-link" data-animsition-out-class="fade-out" data-text="Sektörler">Sektörler</a></li>
                <li><a href="/insankaynaklari" class="animsition-link" data-animsition-out-class="fade-out" data-text="İnsan Kaynakları">İnsan Kaynakları</a></li>
                <li><a href="/sosyalsorumluluk" class="animsition-link" data-animsition-out-class="fade-out" data-text="Sosyal Sorumluluk">Sosyal Sorumluluk</a></li>
                <li><a href="/basinmedya" class="animsition-link" data-animsition-out-class="fade-out" data-text="Basın ve Medya">Basın ve Medya</a></li>
                <li class="active"><a href="/iletisim" class="animsition-link" data-animsition-out-class="fade-out" data-text="İletişim">İletişim</a></li>
              </ul>
            </div>

            <div class="menu-footer">
              <ul class="social social-rounded">
                <li><a href="/themes/doganlar/#"><i class="socicon-twitter"></i></a></li>
                <li><a href="/themes/doganlar/#"><i class="socicon-facebook"></i></a></li>
                <li><a href="/themes/doganlar/#"><i class="socicon-linkedin"></i></a></li>
                <li><a href="/themes/doganlar/#"><i class="socicon-instagram"></i></a></li>
              </ul>
          </div>
          </div>
        </header>