@model Taigate.Data.Data.Entities.Components.InsanKaynaklariTopArea

<div class="section-mini section-item">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-10">
                <h1 class="h2-flash  wow fadeInUp text-blue" data-wow-delay=".3s"><strong>@Model.Title</strong></h1>
                <h3 class="fs30 wow fadeInUp contact-title  text-blue" data-wow-delay=".6s">@Model.Description</h3>
            </div>
        </div>
    </div>
</div>

<div class="section-item ">
    <div class="container-fluid">
        <div class="image mask-skew wow fadeIn" data-wow-offset="150" data-wow-duration="0.2s" data-wow-delay=".3s">
            <div class="mask wow slideInLeft" data-wow-offset="150" data-wow-duration="1.2s" data-wow-delay=".3s"><div class="inside"></div></div>
            <img src="@Model.ImageBgUrl" alt="" class="img-fluid" />
        </div>
    </div>
</div>