// Sass Variables

$color-primary: #515368;
$color-secondary: #404040;
$color-heading: #0b2653;
$color-body: #400e03;
$color-dark: #101010;
$color-black: #000000;
$color-brown: #ded3ce;
$color-gray: #eee;
$color-white: #ffffff;
$border-radius: 2px;

$font-body: "Source Sans Pro", sans-serif;

$font-heading: "Source Serif Pro", serif;

$body-font-size: 14px;
