@{
    ViewData["Title"] = "Atic CMS";
    Layout = "_CrispyAdminLayout";
}

<div>
    <h1 class="display-4">Gazi Köylü Admin</h1>
</div>

<p>Sayfalardaki Alanlara Soldaki Listeden Ulaşabilirsiniz.</p>
