@model Taigate.Data.Data.Entities.Components.HomeFlagPlace

<div class="section pp-scrollable slide slide6">
    <div class="slide-container">
        <div class="slide-bg"><div class="inside"></div></div>
        <div class="container">
            <div class="row slide-content">
                <div class="col-sm-6 mt80">
                    <div class="stage-item-title text-dark-blue">@Model.Title</div>
                    <div class="stage-item-subtitle text-grey">@Model.Description</div>
                </div>
            </div>
        </div>
    </div>
</div>