@model List<Taigate.Data.Data.Entities.Components.KariyerFirsatlariParagAreas>

@foreach (var item in Model)
{
    <div class="section-mini change-header">
        <div class="container">
            <div class="section-item text-left">
                <div class="row">
                    <div class="col-md-3 blue-line blue-top-line">
                        <h2 class="mb-1 text-blue fs36">@item.Title</h2>
                        <div class="section-item-title-xs-narrow text-dark-blue font-montserrat-bold">
                           @item.Description
                        </div>
                    </div>
                    <div class="col-md-8 blue-line blue-top-line">
                        <div class="fs18 text-grey"> @item.Attributes  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@* *@
@* <div class="section-mini change-header"> *@
@*     <div class="container"> *@
@*         <div class="section-item text-left"> *@
@*             <div class="row"> *@
@*                 <div class="col-md-3 blue-line blue-top-line"> *@
@*                     <h2 class="mb-1 text-blue fs36">ADAY</h2> *@
@*                     <div class="section-item-title-xs-narrow text-dark-blue font-montserrat-bold"> *@
@*                         KRİTERİ *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="col-md-8 blue-line blue-top-line"> *@
@*                     <div class="fs18 text-grey">- En az 5 yıl tecrübeli adaylar</div> *@
@*                     <div class="fs18 text-grey">- Eğitim Seviyesi:</div> *@
@*                     <div class="fs18 text-grey">- Üniversite(Mezun), Yüksek Lisans(Mezun)</div> *@
@*                     <div class="fs18 text-grey">- Üniversite Bölümü:</div> *@
@*                     <div class="fs18 text-grey">- İnşaat Mühendisliği</div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="section-mini change-header"> *@
@*     <div class="container"> *@
@*         <div class="section-item text-left"> *@
@*             <div class="row"> *@
@*                 <div class="col-md-3 blue-line"> *@
@*                     <h2 class="mb-1 text-blue fs36">POZİSYON</h2> *@
@*                     <div class="section-item-title-xs-narrow text-dark-blue font-montserrat-bold"> *@
@*                         TANIMI *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="col-md-8 blue-line"> *@
@*                     <div class="fs18 text-grey"> *@
@*                         - Yaptığı tüm satın alma işlemlerinin raporlamalarını *@
@*                         sağlamak, *@
@*                     </div> *@
@*                     <div class="fs18 text-grey"> *@
@*                         - En iyi ve kaliteliyi en uygun fiyata alabilmek için *@
@*                         gerekli değerlendirmeleri yaparak raporlamak, *@
@*                     </div> *@
@*                     <div class="fs18 text-grey"> *@
@*                         - Satın alma talebi onaylanmış malzeme veya hizmetin *@
@*                         araştırmasını yapmak, teklifleri toplamak, *@
@*                     </div> *@
@*                     <div class="fs18 text-grey"> *@
@*                         - Satın alması tamamlanmış malzemeleri ilgili yerlere *@
@*                         teslim/sevk edilmesini organize etmek, *@
@*                     </div> *@
@*                     <div class="fs18 text-grey"> *@
@*                         - Satın alma durumuyla ilgili olarak satın alma talebinde *@
@*                         bulunan birim veya şantiyeyi haberdar etmek, *@
@*                     </div> *@
@*                     <div class="fs18 text-grey"> *@
@*                         - Sevk edilen malzemelerin yerine muntazaman ulaştığına dair *@
@*                         teyit almak, *@
@*                     </div> *@
@*                     <div class="fs18 text-grey"> *@
@*                         - Satın alınan malzeme veya hizmetin faturalarını takip *@
@*                         etmek, *@
@*                     </div> *@
@*                     <div class="fs18 text-grey"> *@
@*                         - Gelen faturalara alt evraklarını da ekleyerek ödeme *@
@*                         emirlerini hazırlamak ve muhasebeye iletmek, *@
@*                     </div> *@
@*                     <div class="fs18 text-grey"> *@
@*                         - Talep, teklif, sipariş, fatura, tesellüm fişi ve ödeme *@
@*                         emirlerinin dosyalanmasını, kayıtların tutulması *@
@*                     </div> *@
@*                     <div class="fs18 text-grey">- Piyasa bilgilerinin güncelleştirilmesini sağlamak,</div> *@
@*                     <div class="fs18 text-grey"> *@
@*                         - - Tedarikçi portföyünün geliştirilmesi çalışmalarını *@
@*                         yürütmek. *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* *@
