<!DOCTYPE html>
<html
  class="no-js vlt-is--about-us vlt-is--header-fullscreen vlt-is--footer-style-1 vlt-is--footer-fixed"
  lang="tr">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Doğtaş olarak ürünlerimizi, insanların sevdikleriyle geçirdikleri zamanları güzelleştirmek için tasarlıyoruz."/>
    Component(Head)
  </head>

  <body>
    Component(Header)
    <!--Main-->
    <main class="vlt-main">
      <!--Page content-->
      <div class="vlt-page-content">
        <!--Page title-->
        Component(SearchHeroArea)
        
        <div id="content"></div>
        <div class="vlt-gap-90"></div>
        
       Component(GoogleSearchResults)
        <div class="vlt-gap-90"></div>
      </div>
    </main>
    Component(Footer)
    <script src="/themes/doganlarmobilya/assets/vendors/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="/themes/doganlarmobilya/assets/scripts/vlt-plugins.min.js"></script>
    <script src="/themes/doganlarmobilya/assets/scripts/vlt-helpers.js"></script>
    <script src="/themes/doganlarmobilya/assets/scripts/vlt-controllers.js"></script>
  </body>
</html>
