@model int
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
    <meta name="description" content="Lewis - Creative Portfolio HTML Template">
    <meta name="author" content="Paul, Logan Cee">

    <title>Doğanlar Yatırım Holding  A.Ş.</title>

    <!-- CSS -->
    <link  href="/themes/doganlar/css/bootstrap.min.css" rel="stylesheet">
    <link  href="/themes/doganlar/css/animsition.min.css" rel="stylesheet">
    <link  href="/themes/doganlar/css/owl.carousel.min.css" rel="stylesheet">
    <link  href="/themes/doganlar/css/owl.theme.default.min.css" rel="stylesheet">
    <link  href="/themes/doganlar/css/socicon.css" rel="stylesheet">
    <link  href="/themes/doganlar/css/ionicons.min.css" rel="stylesheet">
    <link  href="/themes/doganlar/css/animate.min.css" rel="stylesheet">
    <link  href="/themes/doganlar/css/jquery.fancybox.min.css" rel="stylesheet">

    <!-- Main CSS -->
    <link  href="/themes/doganlar/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180"  href="/themes/doganlar/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"  href="/themes/doganlar/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"  href="/themes/doganlar/favicon/favicon-16x16.png">
    <link rel="manifest"  href="/themes/doganlar/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body class="theme-orange fixed-footer fixed-footer-lg">
    <div class="animsition">
      <div class="wrapper parallax-start">
         @await Component.InvokeAsync(MenuArea)

        <section class="common-hero-heading" style="background-image: url('https://raw.githubusercontent.com/santneuv/responsive/master/%C4%B0leti%C5%9Fim%20(1).jpg');">
          <div class="container medium-container">
            <div class="block">
              <div class="content-wrapper">
                  <h1 class="title">YÖNETİM KURULU</h1>
                  <p class="description">Alt Başlık</p>
              </div>
            </div>
          </div>
        </section>

            @await Component.InvokeAsync("KurulDetail",new{id=Model})


      </div>

      <div class="footer">

        <div class="footer-flash home-flash-dark">
          <div class="container">
            <div class="footer-content-flash">
              <div class="row">

                <div class="col-lg-4 col-xl-2 col-md-4 col-12">
                  <a class="footer-logo"  href="/themes/doganlar/home-flash.html">
                    <img src="/themes/doganlar/img/footerlogo.png" alt="">
                  </a>
                </div>

                <div class="col-md-2 col-6 footer-titles">
                  <ul class="footer-nav">
                    <li class="mb10"><a  href="#">Şirket Profili</a></li>
                    <li class="mb10"><a  href="#">Yatırımcı İlişkileri</a></li>
                    <li class="mb10"><a  href="#">Sosyal</a></li>
                    <li class="mb10"><a  href="#">Basın Odası</a></li>
                    <li><a  href="#">İnsan Kaynakları</a></li>
                  </ul>
                </div>

                <div class="col-md-2 col-6 footer-titles">
                  <ul class="footer-nav">
                    <li class="mb10"><a  href="#">Enerji</a></li>
                    <li class="mb10"><a  href="#">İnşaat</a></li>
                    <li class="mb10"><a  href="#">Perakende</a></li>
                    <li class="mb10"><a  href="#">Mobilya</a></li>
                    <li class="mb10"><a  href="#">Yeni Yatırımlar</a></li>
                  </ul>
                </div>

                <div class="col-md-2 col-6 footer-titles">
                  <ul class="footer-nav">
                    <li class="mb10"><a  href="#">Biotrend</a></li>
                    <li class="mb10"><a  href="#">Doğyap</a></li>
                    <li class="mb10"><a  href="#">Troy Park</a></li>
                  </ul>
                </div>

                <div class="col-md-2 col-6 footer-titles">
                  <ul class="footer-nav">
                    <li class="mb10"><a  href="#">Doğtaş</a></li>
                    <li class="mb10"><a  href="#">Lova Yatak</a></li>
                    <li class="mb10"><a  href="#">Kelebek</a></li>
                    <li class="mb10"><a  href="#">Kelebek Mutfak</a></li>
                    <li class="mb10"><a  href="#">Ruum Store</a></li>
                  </ul>
                </div>

                <div class="col-md-2 col-6 footer-titles">
                  <h5>BİZE ULAŞIN</h5>
                  <div class="contact-item"><a  href="/themes/doganlar/tel:+902122813879" class="phone-link">T 0212 281 38 79</a></div>
                  <div class="contact-item"><a  href="/themes/doganlar/tel:+902122813879" class="phone-link">F 0212 280 27 00</a></div>
                  <div class="contact-item"><a  href="/themes/doganlar/mailto:info@doganlarholding.com.tr">info@doganlarholding.com.tr</a></div>
                  <div class="contact-item-address">Esentepe Mah. Kore Şehitleri Caddesi No: 42 34349 Şişli <br /> İSTANBUL / TURKİYE</div>
                </div>

              </div>
            </div>

            <div class="site-info">
              <div class="row">
                <div class="col-lg-4 col-xl-2 col-md-4 col-sm-12">
                  <div class="copyright text-left copyright-text">Her Hakkı Saklıdır &copy; 2020</div>
                </div>
                <div class="col-md-2 col-6">
                  <div class="copyright text-left">Bilgi Güvenliği Politikası</div>
                </div>
                <div class="col-md-2 col-6">
                  <div class="copyright text-left">Kişisel Verilerin Kullanımı</div>
                </div>
                <div class="col-md-2 col-6">
                  <div class="copyright text-left">Bilgi Toplumu Hizmetleri</div>
                </div>
                <div class="col-md-2 col-6">
                  <div class="copyright text-left">Çerez Politikası</div>
                </div>
                <div class="col-md-2 col-sm-12">
                  <ul class="social social-rounded">
                    <li><a  href="#"><i class="socicon-twitter"></i></a></li>
                    <li><a  href="#"><i class="socicon-facebook"></i></a></li>
                    <li><a  href="#"><i class="socicon-linkedin"></i></a></li>
                    <li><a  href="#"><i class="socicon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <a class="taiga-logo"  href="https://www.grouptaiga.com"> <img class="footer-copyright-logo" src="https://kelebek.com/Themes/KelebekUi/Materials/assets/images/logo/taiga-white.svg" alt="Taiga Creative"> </a>
        </div>
      </div>

    </div>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>window.jQuery || document.write('<script src="/themes/doganlar/js/jquery.min.js"><\/script>')</script>
    <script src="/themes/doganlar/js/smoothscroll.js"></script>
    <script src="/themes/doganlar/js/popper.min.js"></script>
    <script src="/themes/doganlar/js/bootstrap.min.js"></script>
    <script src="/themes/doganlar/js/animsition.min.js"></script>
    <script src="/themes/doganlar/js/owl.carousel.min.js"></script>
    <script src="/themes/doganlar/js/wow.min.js"></script>
    <script src="/themes/doganlar/js/jquery.pagepiling.min.js"></script>
    <script src="/themes/doganlar/js/isotope.pkgd.min.js"></script>
    <script src="/themes/doganlar/js/jquery.fancybox.min.js"></script>
    <script src="/themes/doganlar/js/TweenMax.min.js"></script>
    <script src="/themes/doganlar/js/ScrollMagic.min.js"></script>
    <script src="/themes/doganlar/js/animation.gsap.min.js"></script>
    <script src="/themes/doganlar/js/jquery.viewport.js"></script>
    <script src="/themes/doganlar/js/jquery.countdown.min.js"></script>
    <script src="/themes/doganlar/js/script.js"></script>

    <script>
      $(document).ready(function() {
        // init controller
        var controller = new ScrollMagic.Controller();

        // build scenes
        new ScrollMagic.Scene({triggerElement: '.parallax-start', triggerHook: 0, duration: '100%'})
              .setTween('.full-image-dark', {backgroundPosition: '50% 100%', ease: Linear.easeNone})
              .addTo(controller);


      });
    </script>

  </body>
</html>
