@model Taigate.Data.Data.Entities.Components.TarihceImgArea

<div class="section-mini">
    <div class="container-fluid">
        <div class="image mask-skew wow fadeIn" data-wow-offset="150" data-wow-duration="0.2s"
             data-wow-delay=".3s">
            <div class="mask wow slideInLeft" data-wow-offset="150" data-wow-duration="1.2s"
                 data-wow-delay=".3s">
                <div class="inside"></div>
            </div>
            <img src="@Model.ImageBgUrl" alt="" class="img-fluid"/>
        </div>
    </div>
</div>